.bookmark-button {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    position: absolute;
    width: 48px;
    z-index: 10;
}

.bookmark-image {
    width: 100%;
    z-index: 1000;
}