.categories-page {
  width: 80%;
  margin: 0 auto;
}

.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.burger-menu {
  position: relative;
}

.burger-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
 
}

.burger-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgb(185, 172, 172);
  border: 1px solid #ccc;
  z-index: 1000;
}

.burger-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.burger-dropdown ul li {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.burger-dropdown ul li:hover {
  background-color: #b9b2b2;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .categories-page {
    width: 100%;
  }

  .categories-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .burger-button {
    font-size: 28px;
  }

  .movies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .movie-card img {
    max-width: 100%;
  }

  .movie-card {
    width: 100%;
    padding: 0px;
    font-size: 0.8rem;
  }
}
