.media-view-page {
  display: flex;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.movie-view-section {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
}

.movieview-container {
  padding: 0;
  height: 600px;
  display: flex;
}

.movie-details-container {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0 16px;
  gap: 8px;
}

.movie-thumbnail {
  height: 100%;
  object-fit: cover;
}

.movie-details-container p {
  margin: 0;
  font-size: 16px;
}

.movie-details-container strong {
  font-size: 22px;
}

@media (max-width: 768px) {
  .movieview-container {
    height: 100%;
    flex-direction: column;
    align-self: center;
  }

  .movie-thumbnail {
    width: 100%;
  }

  .movie-details-container {
    padding-left: 0;
  }

  .movie-view-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
