.carousel-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.movie_container {
  padding: 1rem;
}

.legend_container {
  margin-top: -20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-arrow {
  position: absolute;
  margin: -10px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-arrow:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.control-dots {
  border: 1px solid white;
  height: 40px;
}

.carousel .control-dots .dot.active {
  background-color: rgba(0, 123, 255, 1);
}

.carousel .control-prev.control-arrow:before {
  height: 15px;
  width: 20px;
}

@media (max-width: 430px) {
  .legend_container {
    font-size: 0.8rem;
  }
  .control-arrow {
    position: absolute;
    height: 110px;
  }
}
