.footer {
  width: 100%;
  border-top: 1px solid red;
  color: #fff;
  text-align: center;
  padding: 16px 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0px;
  margin: 0 auto;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-link:hover {
  text-decoration: underline;
}
